<div class="comment-box" [ngClass]="{'content-box-replying': replyingTo}">
    <div class="comment-user-avatar" [ngStyle]="{'background-image': currentUser.image.png ? 'url(' + currentUser.image.png + ')': null }"></div>
    <div class="input-area">
        <textarea name="content" rows="3" id="content" placeholder="Add a comment..." [(ngModel)]="content"></textarea>
    </div>
    <div class="comment-tools" style="float: right;">
        <button class="button button-send" type="button" (click)="send()" [disabled]="content.length === 0">Send</button>
    </div>
</div>