<main class="comments-container">
    <div class="comment">
        <div class="comment-header">
            <img class="comment-user-avatar" src="/assets/images/avatars/image-amyrobson.webp" alt="Avatar">
            <span class="comment-username">amyrobson</span><span class="comment-time">1 month ago</span>
        </div>
        <div class="comment-body">
            <p class="card-text">
                <span class="replying-to">@ramsesmiron</span> I couldn't agree more with this. Everything moves so fast and it always seems like everyone knows the newest library/famework. But the fundamentals are what stay constants.
            </p>
        </div>
        <div class="comment-score" role="group" aria-label="Score it">
            <button class="comment-score-btn" type="button">+</button>
            <span class="comment-score-text">12</span>
            <button class="comment-score-btn" type="button">-</button>
        </div>
        <div class="comment-tools">
            <button class="button-reply" type="button"><i class="icon reply"></i>Reply</button>
        </div>
    </div>
</main>
