@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "./scss/variables";
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $very-light-gray;
    font-family: 'Rubik', 'sans-serif';
    font-size: 1rem;
    color: $grayish-blue;
}

.comments-container {
    padding: 2rem .85rem;
    margin-left: auto;
    margin-right: auto;
    button {
        cursor: pointer;
    }
}

.button {
    background-color: transparent;
    margin: 0;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .65rem;
    font-weight: 700;
}

.button-reply {
    color: $moderate-blue;
    i.icon.reply {
        background-color: $moderate-blue;
    }
    &:hover {
        color: $light-grayish-blue;
        i.icon.reply {
            background-color: $light-grayish-blue;
        }
    }
}

.button-delete {
    color: $soft-red;
    i.icon {
        background-color: $soft-red;
    }
    &:hover {
        color: $pale-red;
        i.icon {
            background-color: $pale-red;
        }
    }
}

.button-edit {
    color: $moderate-blue;
    i.icon {
        background-color: $moderate-blue;
    }
    &:hover {
        color: $light-grayish-blue;
        i.icon {
            background-color: $light-grayish-blue;
        }
    }
}

i.icon {
    display: inline-block;
    margin-right: .5rem;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 1em;
    height: 1em;
    &.reply {
        -webkit-mask-image: url("/assets/images/icon-reply.svg");
        mask-image: url("/assets/images/icon-reply.svg");
        margin-bottom: -0.1em;
    }
    &.delete {
        -webkit-mask-image: url("/assets/images/icon-delete.svg");
        mask-image: url("/assets/images/icon-delete.svg");
    }
    &.edit {
        -webkit-mask-image: url("/assets/images/icon-edit.svg");
        mask-image: url("/assets/images/icon-edit.svg");
    }
}

.comment {
    background-color: $white;
    border-radius: .5rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
    padding: 1rem 1rem 3rem;
    position: relative;
    .comment-header {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .comment-user-avatar {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    .comment-body {
        margin-top: .5rem;
    }
    .comment-username {
        color: #000;
        font-weight: 500;
        margin-right: 1rem;
    }
    .comment-tools {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
    .comment-score {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        button {
            background-color: $very-light-gray;
            color: $light-grayish-blue;
            &:hover {
                color: $moderate-blue;
            }
        }
        &>button:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &>button:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .comment-score-text {
            text-align: center;
            background-color: $very-light-gray;
            border-color: $very-light-gray;
            color: $moderate-blue;
            font-weight: 500;
            padding: .35rem .25rem;
        }
    }
}

.comment-replies-container {
    position: relative;
    &::before {
        content: "";
        background-color: $light-gray;
        bottom: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }
    .comment {
        margin-left: 1rem;
    }
}

@media (min-width: 768px) {
    .comments-container {
        max-width: 70%;
        .comment {
            padding-left: 5rem;
            .comment-tools {
                right: 1rem;
                top: 1rem;
            }
            .comment-score {
                flex-direction: column;
                top: 1rem;
                .button {
                    font-weight: 700;
                    font-size: 1.2rem;
                }
                &>button:not(:last-child) {
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: .65rem;
                }
                &>button:not(:first-child) {
                    border-bottom-left-radius: .65rem;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }
    .comment-replies-container {
        &::before {
            width: 2px;
            left: 2em;
        }
        .comment {
            margin-left: 4rem;
        }
    }
}