i.icon {
    display: inline-block;
    margin-right: .5rem;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-clip: padding;
    mask-clip: padding;
    width: 1em;
    height: 1em;
    padding: .1em;
    &.reply {
        -webkit-mask-image: url("../assets/images/icon-reply.svg");
        mask-image: url("../assets/images/icon-reply.svg");
        margin-bottom: -0.1em;
    }
    &.delete {
        -webkit-mask-image: url("../assets/images/icon-delete.svg");
        mask-image: url("../assets/images/icon-delete.svg");
    }
    &.edit {
        -webkit-mask-image: url("../assets/images/icon-edit.svg");
        mask-image: url("../assets/images/icon-edit.svg");
    }
}