<div class="comment">
    <div class="comment-header">
        <img class="comment-user-avatar" [src]="comment.user.image.png" [alt]="comment.user.username">
        <span class="comment-username">{{ comment.user.username }}</span><span class="comment-time">{{ comment.createdAt }}</span>
    </div>
    <div class="comment-body">
        <p>
            {{ comment.content }}
        </p>
    </div>
    <div class="comment-score" role="group" aria-label="Score it">
        <button class="button comment-score-btn" type="button">+</button>
        <span class="comment-score-text">{{ comment.score }}</span>
        <button class="button comment-score-btn" type="button">-</button>
    </div>
    <div class="comment-tools">
        <button class="button button-reply" type="button" *ngIf="currentUser.username !== comment.user.username"><i class="icon reply"></i>Reply</button>
        <button class="button button-delete" type="button" *ngIf="currentUser.username === comment.user.username"><i class="icon delete"></i>Delete</button>
        <button class="button button-edit" type="button" *ngIf="currentUser.username === comment.user.username"><i class="icon edit"></i>Edit</button>
    </div>
</div>
<div class="comment-replies-container" *ngIf="comment.replies">
    <app-comment *ngFor="let reply of comment.replies" [comment]="reply" [currentUser]="currentUser"></app-comment>
</div>